@import './themes/normal';
@import './themes/dark';
@import './reset';
@import './variables/global';

#app {
  font: var(--font-m);
  color: var(--black);
  min-height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

.home-section {
  background-color: var(--accent-2);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
