.Button {
  cursor: pointer;
  border: none;
  padding: 10px 24px;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 8px;
  font-weight: 600;

  &:hover {
    background-color: #178c9b;
  }
}

.disabled {
  opacity: .6;
  cursor: not-allowed;

  &:hover {
    background-color: var(--primary-color);
  }
}

.isLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}