.input {
  width: 100%;
  background: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid var(--black-shade-2);
  height: 38px;

  ::placeholder {
    color: var(--black-shade);
  }
}

.label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 8px;
}
